@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", serif;
}
.active {
  font-weight: bold;
  color: #e58c3c;
}
